body {
    background: #000000;
    background: url('/assets/images/earth_min.jpg'); /* fallback */
    background: url('/assets/images/earth_min.jpg') no-repeat 5% -18%,
        linear-gradient(to bottom, #000000 0%, #050038 100%) repeat-x;
    /* Animate Using animation: duration
           timing-function iteration-count direction; */
}

.container {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .container {
        width: 1000px;
    }
}

section {
    margin-bottom: 5rem;
}
