.header__logo {
    width: 65%;
}

.header__menu-btn {
    width: 20%;
}

@media (min-width: 600px) {
    .header__logo {
        width: 35%;
    }

    .header__menu-btn {
        width: 10%;
    }
}
