.header__menu-btn {
    @apply cursor-pointer;
}

.menu {
    padding: 2rem;
    position: fixed;
    z-index: 1002;
    background-color: #050038;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    @apply list-none text-2xl text-white;
    gap: 5rem;
}

.menu__nav-item {
    margin-bottom: 3rem;
}

.menu__external-links {
    display: flex;
    width: 10rem;
}

.menu__external-links--picture {
    width: 50%;
    margin: 0;
    padding: 0;
}
