$z-index: (
  background: -1,
  header: 600,
  menu: 200,
  footer: 90,
  earth: 100,
  astronaut: 200,
  phylacter: 300,
  burger: 500,
  home: 300,
  skills: 400,
);

@function zIndex($key) {
  @return map-get($z-index, $key);
}

@mixin zIndex($key) {
  z-index: z-index($key);
}
