.is-hidden {
  display: none;
}

.is-visible {
  display: inline-block;
}

.info-success {
  padding: 1rem;
  background-color: $success;
  color: $secondary;
}

.info-error {
  padding: 1rem;
  background-color: $error;
  color: $secondary;
}

.flip-y {
  transform: scaleX(-1);
}

.header--isFixed {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  background-color: $primary;
}

.header-logo--isFixed {
  width: 2%;
  left: 2.3rem;
  top: 1.8rem;
}

// parallax effect
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}
