@use "../abstract/variables" as variables;

.header__close-menu-btn {
  width: 15%;
  margin-bottom: 3rem;
  margin-left: 16rem;
}

@media (min-width: 514px) {
  .header__close-menu-btn {
    width: 3%;
    margin-left: 26rem;
  }
}

.header__close-menu-btn,
.header__menu-btn {
  cursor: pointer;
}
