$z-index: (
  background: -1,
  header: 100,
  menu: 200,
  footer: 90,
  earth: 100,
  astronaut: 100,
  phylacter: 200,
  burger: 300,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
