.content__contact--input {
    @apply mb-14;
}

.input--error {
    border: 2px solid red;
}

#form-alert_ {
    padding: 0;
    margin: 0;
}

.form-alert__wrapper {
    padding: 1.5rem;
    @apply text-lg font-bold;
}

.form--error {
    @apply text-red-700 dark:bg-red-200 dark:text-red-800;
}

.form--success {
    @apply text-green-700 dark:bg-green-200 dark:text-green-800;
}
