.content__skills-container {
    display: grid;
    grid-gap: 5rem;
}

.content__skills--item {
    width: 10rem;
}

.content__skills--item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border: 2px solid #050038;
}

.content__skills--item-wrapper:hover {
    border: 2px solid #050038;
    animation: changeColor 5s infinite;
    cursor: pointer;
}

@media (max-width: 500px) {
    .content__skills-container {
        grid-template-columns: auto;
    }
}

@media (min-width: 500px) {
    .content__skills-container {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 600px) {
    .content__skills-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
