.header {
    display: flex;
    flex-direction: row;

    &:first-child {
        z-index: -100;
    }
}

.header__logo {
    width: 70%;
}

.header__logo-text {
    color: map-get($colors, 'secondary', 'base');
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 3rem;

    letter-spacing: 5px;
    position: relative;
}

.header__logo_img {
    width: 10%;
    position: absolute;
    z-index: 1;
    margin-left: 1.55rem;
    margin-top: 0.8rem;
}

@media (min-width: 600px) {
    .header__logo {
        width: 35%;
    }

    .header__menu-btn {
        width: 10%;
    }
}
