.contact_label {
  width: 100%;
  margin-bottom: 1rem;
}

.contact_input {
  width: 100%;
}

.contact_input-container {
  margin-bottom: 2rem;
}

.contact_input-message {
  width: 100%;
}

input,
select,
textarea {
  border: 2px solid $primary-accent;
  background-color: white;
  border-radius: 0.25rem;
}

.btn-submit {
  border: 2px solid $secondary-accent !important;
  border-radius: 0.25rem;
  background-color: $primary;
  color: $secondary-accent;
  width: 35%;
  font-size: medium;
}

.btn {
  transition-duration: 0.4s;
  &:hover {
    background-color: $secondary-accent;
    color: $primary;
    font-weight: bolder;
  }
}
