li {
    list-style-type: square;
    margin-left: 2rem;
}

.content--link {
    text-decoration: underline dotted yellow;
}

.content--link:hover {
    margin: 3px;
    background-color: yellow;
    color: black;
}
